
.body1{
  background-color: turquoise
}

.pan1{
  margin: 5%;
  padding: 5%;
  background-color: rgba(87, 255, 123, 0.801);
  text-align: center;
  border-radius: 15px;
}

.bottom1{
  background-color: tomato;
}

.jumbotron{
  padding: 5%;
  margin-top: 5%;
  background-color: rgb(255, 186, 107);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  border-radius: 15px;
}

.welcometext{
  font-size: large;
  font-size: 200%;
  font-weight: bolder;
}

#potionimg{
  border-radius: 8px;
}

#welcometext1{
  padding: 3%;
  margin-left: 30%;
  margin-right: 30%;
  border: 3%;
  background-color: rgb(255, 132, 60);
  border-radius: 8px;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  color: #7c0276;
  text-decoration: underline;
}


.topbar{
  background-color: rgb(255, 255, 112);
  border-radius: 10px;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 1%;
}

.homepage{
  background-color: rgb(204, 255, 101);
  font-size: large;
  border-radius: 15px;
}

.bottom1{
  background-color: rgb(255, 255, 112);
  text-align: center;
  border-radius: 10px;
  margin-top: 2%;
  margin-bottom: 2%;
  outline: none;
}

body{
  background-color: turquoise;
}

a:link, a:visited {
  background-color: #7c0276;
  color: rgb(255, 255, 255);
  padding: 2%;
  margin: 2%;
  font-size: small;
  text-decoration: underline;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
}


.galr {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.gal {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.gal img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.imgwell{
  background-color: rgba(251, 251, 143, 0.664);
  padding: 5%;
  margin: 2%;
  border: 10%;
}


#gallerytext{
  text-align: center;
  color: aliceblue;
  padding: 5%;
  margin: 5%;
  background-color: rgba(255, 109, 109, 0.842);
}

#abouttext{
  text-align: center;
  color: aliceblue;
  padding: 5%;
  margin: 5%;
  background-color: rgba(255, 109, 109, 0.842);
}

#aboutlist{
  text-align: center;
  color: aliceblue;
  padding: 5%;
  margin: 5%;
  background-color: rgba(255, 109, 109, 0.842);
}

#gitwell{
  text-align: center;
  color: aliceblue;
  padding: 5%;
  margin: 5%;
  background-color: rgba(255, 109, 109, 0.842);
}

#gitpanel{
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 5%;
  margin: 5%;
  background-color: rgba(241, 255, 52, 0.842);
}

.gitlink{
  list-style-type: none;
}



